@font-face {
    font-family: 'distant_galaxyregular';
    src: url('/layout/Distant-Galaxy-fontfacekit/web_fonts/distantgalaxy_regular_macroman/DISTGRG_-webfont.eot');
    src: url('/layout/Distant-Galaxy-fontfacekit/web_fonts/distantgalaxy_regular_macroman/DISTGRG_-webfont.eot?#iefix') format('embedded-opentype'),
         url('/layout/Distant-Galaxy-fontfacekit/web_fonts/distantgalaxy_regular_macroman/DISTGRG_-webfont.woff') format('woff'),
         url('/layout/Distant-Galaxy-fontfacekit/web_fonts/distantgalaxy_regular_macroman/DISTGRG_-webfont.ttf') format('truetype'),
         url('/layout/Distant-Galaxy-fontfacekit/web_fonts/distantgalaxy_regular_macroman/DISTGRG_-webfont.svg#distant_galaxyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

